*.jpg
*.pyc
*.txt
*.mp4
*/results/*
*.rar
*.pptx
*.pdf
*.npy
*.zip
*.yaml
*/pretrained/*
!GameNet/pretrained/ap_pred_final.th
!GameNet/config/gat_small_att.yaml
!ScoreNet/config/small_attention.yaml
!beta_0.90.jpg
